.home .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin: 20px 0;
}

.home .blog-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #49483E;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.home .blog-post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.home .blog-post img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.home .blog-post p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.home .blog-post .read-more {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.home .blog-post .read-more:hover {
    background-color: #3e8e41;
}

.home .blog-post .tags {
    margin-top: 10px;
    border-top: 1px solid white;
    padding-top: 10px;
    font-size: 12px;
}

.home .blog-post .desciption {
    text-align: justify;
}